$purple-white: #FDDCC4
$gray: #717171
$dark-grey: #292929
$Smoky-white: #CDCDCD
$black: #444444


@mixin geologica-font
    font-family: 'Geologica', sans-serif
    font-weight: 400

.container
    width: 1280px
    margin: auto

.wrapper
    max-width: 1200px
    margin: 0 auto

@mixin georgian-font
    font-family: 'Noto Serif Georgian', serif
    font-weight: 700
    color: $dark-grey

body
    @include geologica-font

html
    scroll-behavior: smooth

*
    padding: 0
    margin: 0

.header  
    background: url(../img/start-screen-gradient-background.jpg) no-repeat
    .container
        background: url(../img/start-screen-gradient-background.jpg) no-repeat
        .wrapper
            .header_wrapper
                display: flex
                justify-content: space-between
                .logo
                    margin-top: 30px
                nav
                    ul
                        display: flex
                        li
                            list-style-type: none
                            padding-top: 46px
                            padding-left: 20px
                            a
                                color: $Smoky-white
                                text-decoration: none
                                &:hover
                                    transition: all 300ms

main
    .Not-only
        background: url(../img/start-screen-gradient-background.jpg) no-repeat
        margin-bottom: 80px
        .container
            background: url(../img/start-screen-gradient-background.jpg) no-repeat
            .wrapper
                .not-only-block
                    display: flex
                    .not-only-content
                        margin-top: 253px
                        h1.not-only-title
                            width: 370px
                            font-size: 44px
                            line-height: 130%
                            display: flex
                            align-items: center
                            color: #FFFFFF
                            margin-bottom: 42px
                        p.not-only-description
                            font-size: 15px
                            line-height: 160%
                            display: flex
                            align-items: center
                            color: $Smoky-white
                            margin-bottom: 42px
                        button.not-only-button
                            background: $purple-white
                            border-radius: 100px
                            font-size: 17px
                            line-height: 130%
                            letter-spacing: 0.06em
                            color: $dark-grey
                            padding: 15px 45px
                            border: none
                            &:hover
                                cursor: pointer
                                transition: all 300ms
                                background: #F1CDB3
                    .start-screen-puppy
                        margin-top: 110px
    .About
        margin-bottom: 100px
        .container
            .wrapper
                .about-block
                    display: flex
                    justify-content: space-evenly
                    .about-content
                        h2.about-title
                            width: 370px
                            font-size: 35px
                            line-height: 130%
                            align-items: center
                            letter-spacing: 0.06em
                            color: #545454
                            margin-bottom: 25px
                        p.about-description
                            width: 430px
                            font-size: 15px
                            line-height: 160%
                            color: #4C4C4C
                            margin-bottom: 25px
                        p.about-description-botton
                            width: 430px
                            font-size: 15px
                            line-height: 160%
                            color: #4C4C4C
    .Our-friends
        background: #F6F6F6
        padding-bottom: 100px
        .container
            .wrapper
                h2.Our-friends-title
                    padding-top: 80px
                    width: 430px
                    font-size: 35px
                    line-height: 130%
                    text-align: center
                    letter-spacing: 0.06em
                    color: #545454
                    margin: 0 auto
                    margin-bottom: 60px
                .Our-friends-cards
                    display: flex
                    justify-content: space-around
                    margin-bottom: 60px
                    .Arrow-left
                        margin-top: 230px
                        border: 2px solid #F1CDB3
                        border-radius: 100px
                        padding: 17px 13px
                        height: 6px
                        &:hover
                            background: #FDDCC4
                            transition: all 300ms
                    .Arrow-right
                        margin-top: 230px
                        border: 2px solid #F1CDB3
                        border-radius: 100px
                        padding: 17px 13px
                        height: 6px
                        &:hover
                            background: #FDDCC4
                            transition: all 300ms
                    .Our-friends-card
                        background: #FAFAFA
                        .pets-katrine
                            margin-bottom: 30px
                        .pets-jennifer
                            margin-bottom: 30px
                        .pets-woody
                            margin-bottom: 30px
                        p.Our-friends-name
                            font-size: 20px
                            line-height: 23px
                            text-align: center
                            letter-spacing: 0.06em
                            color: #545454
                            margin-bottom: 30px
                        button.card-button
                            box-sizing: border-box
                            margin-left: 41px
                            background: #fff
                            border-radius: 100px
                            border: 2px solid #F1CDB3
                            font-size: 17px
                            text-align: center
                            letter-spacing: 0.06em
                            line-height: 130%
                            letter-spacing: 0.06em
                            color: #292929
                            padding: 15px 45px
                            margin-bottom: 30px
            .button-our-friends
                display: block
                margin: 0 auto
                font-size: 17px
                line-height: 130%
                letter-spacing: 0.06em
                color: #292929
                background: #F1CDB3
                border-radius: 100px
                border: none
                padding: 15px 45px
    .Help
        margin-bottom: 100px
        .container
            .wrapper
                h2.help-title
                    padding-top: 80px
                    margin: 0 auto
                    width: 390px
                    font-size: 35px
                    line-height: 130%
                    text-align: center
                    letter-spacing: 0.06em
                    color: #545454
                    margin-bottom: 60px
                .help-cards
                    display: flex
                    gap: 55px 162px
                    flex-wrap: wrap
                    justify-content: center
                    .help-card
                        .icon-pet-food
                            display: block
                            margin: 0 auto
                            margin-bottom: 30px
                        .help-card-title



