$purple-white: #FDDCC4
$gray: #717171
$dark-grey: #292929
$Smoky-white: #CDCDCD
$black: #444444


@mixin geologica-font
    font-family: 'Geologica', sans-serif
    font-weight: 400

.container
    width: 1280px
    margin: auto

.wrapper
    max-width: 1200px
    margin: 0 auto

@mixin georgian-font
    font-family: 'Noto Serif Georgian', serif
    font-weight: 700
    color: $dark-grey

body
    @include geologica-font

html
    scroll-behavior: smooth

*
    padding: 0
    margin: 0

.header  
    background: url(../img/start-screen-gradient-background.jpg) no-repeat
    .container
        background: url(../img/start-screen-gradient-background.jpg) no-repeat
        .wrapper
            .header_wrapper
                display: flex
                justify-content: space-between
                .logo
                    margin-top: 30px
                nav
                    ul
                        display: flex
                        li
                            list-style-type: none
                            padding-top: 46px
                            padding-left: 20px
                            a
                                color: $Smoky-white
                                text-decoration: none

main
    .Not-only
        background: url(../img/start-screen-gradient-background.jpg) no-repeat
        margin-bottom: 80px
        .container
            background: url(../img/start-screen-gradient-background.jpg) no-repeat
            .wrapper
                .not-only-block
                    display: flex
                    .not-only-content
                        margin-top: 253px
                        h1.not-only-title
                            width: 370px
                            font-size: 44px
                            line-height: 130%
                            display: flex
                            align-items: center
                            color: #FFFFFF
                            margin-bottom: 42px
                        p.not-only-description
                            font-size: 15px
                            line-height: 160%
                            display: flex
                            align-items: center
                            color: $Smoky-white
                            margin-bottom: 42px
                        button.not-only-button
                            background: $purple-white
                            border-radius: 100px
                            font-size: 17px
                            line-height: 130%
                            letter-spacing: 0.06em
                            color: $dark-grey
                            padding: 15px 45px
                            border: none
                    .start-screen-puppy
                        margin-top: 110px
    .About
        margin-bottom: 100px
        .container
            .wrapper
                .about-block
                    display: flex
                    justify-content: space-evenly
                    .about-content
                        h2.about-title
                            width: 370px
                            font-size: 35px
                            line-height: 130%
                            align-items: center
                            letter-spacing: 0.06em
                            color: #545454
                            margin-bottom: 25px
                        p.about-description
                            width: 430px
                            font-size: 15px
                            line-height: 160%
                            color: #4C4C4C
                            margin-bottom: 25px
                        p.about-description-botton
                            width: 430px
                            font-size: 15px
                            line-height: 160%
                            color: #4C4C4C


